.table {
  background-color: var(--background-light-dark);
  padding: 1em;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.table th,
.table td {
  padding: 0.3em 1em;
  text-align: left;
}

.table th {
  cursor: pointer;
}

.no_employees {
  text-align: center;
}
