.header {
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--white);
  font-size: 3.5rem;
  cursor: pointer;
}

.logo sub {
  font-size: 1.3rem;
  color: var(--primary-yellow);
}
